<ion-header>
  <ion-navbar>
    <ion-title>
      Barcode Scanner
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  BARCODESCANNER PAGE

  <button ion-button block (click)="onGetBarcode()"> Barcode Scanner </button>

  <div *ngIf="barcodeResult">
    {{ barcodeResult | json }}
    <button ion-button block (click)="copyToClipboard()"> Copiar Codigo </button>
    <div *ngIf="correios">
      <p>Identificamos que este codigo pode ser dos correios, caso queria rastrear basta clicar no botão a baixo</p>
      <button ion-button color="dark" block (click)="rastrearCorreios()"> Rastrear nos Correios </button>
    </div>
  </div>

</ion-content>
